*{
    background: black;
}
/* header{
    /* background: black; 
} */
.navbar{ 
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 0 0 0;
    align-items: center;
}
.logo{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 800;
    margin-left: 11.8rem;

}
.navbar > ul{
    display: flex;
    list-style: none;
    margin-right: 11.8rem;
    gap: 3rem; 
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 0.75rem 0.5rem;


}
.nav-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 400;  
}
.home{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 0.5rem 1.25rem;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    margin-top: 8.43rem;
    margin-left: 11.8rem;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 90%;
    text-align: left;
    margin: 0;
}
.span2{
    font-family: "Grey Qo";
    font-weight: 100;
    font-size: 7rem ;
    background: none;
}
.span{
    background: none;
}
.banner-des{
    margin: 1.75rem 0rem;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 24px;
    letter-spacing: 0.5px; */
}
.button{
    display: flex;
    gap: 1rem;
}
.btn1{
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    padding: 1rem 2.5rem;
}
.btn2{
    background: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    padding: 1rem 2.5rem;
}
.banner-image{
   margin-right: 13rem;
}

.sp-card-1{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    width: 10.9rem;
    height: 6.1rem;
    text-align: start;
    padding: 1rem;
    position: absolute;
    left: 98rem;
    bottom: 34rem;
}
.sp-card-1-title{
    background: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2.7rem;
    font-weight: 900;
    margin: 0;
}
.sp-card-1-des{
    background: none;
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
}

.sp-card-2{
    background: none;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    align-items: center;
    width: 12.8rem;
    height: 6rem;
    padding: 1rem;
    position: absolute;
    left: 77rem;
    bottom: 16rem;
}
.circle{
    width: 50px;
    height: 50px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    
}
.circle-1{
    box-sizing: border-box;
    background: none;
    padding: 1rem;
}
.sp-card-2-title{
    background: none;
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
}
.sp-card-2-des{
    background: none;
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
}





.content-1{
    text-align: center;
}

.content-1-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}
.content-1-des{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin: 1rem 19rem;
}
.content-2{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    margin: 2rem 10rem;
}

.card-img{
    border-radius: 50%;
    border: 1px solid gray;
}
.card-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 600;
}
.card-des{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}


.container-2{
    display: flex;
    justify-content: space-between;
    margin: 2rem 12rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);;
    /* padding: 2.5rem 35rem 2.5rem 3.3rem; */
}
.container-2-1{
    background: none;
    padding: 2.5rem 0 2.5rem 3.5rem;
  
}
.container-2-1-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    background: none;
    margin: 0;
    
}
.container-2-1-des{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    background: none;
    width: 25rem;
}
.container-2-2{
    background: none;
    padding: 2.5rem 3.5rem 2.5rem 0;
}
.container-2-2-img{
    zoom: 25%;
    background: none;
    border-radius: 18px; 
}

.container-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-3-1{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.container-3-1-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3.2rem;
    font-weight: 900;
    margin: 0;
}
.container-3-1-des{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}


.container-3-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    width: 66.25rem;
    height: 37.75rem;
    padding: 25px 0 20px 25px;
}
.card-pic{
    background: none;
}
.card-pic-img{
    position: relative;
    width: 20.3rem;
    height: 17rem;
    border-radius: 1.2rem;
}
.card-pic-title{
    margin: 0;
    background: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 900;
    position: relative;
    bottom: 4rem;
    left: 1.5rem;    
}
.card-pic-des{
    margin: 0;
    background: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: inter;
    font-size: 1rem;
    position: relative;
    bottom: 4rem;
    left: 1.5rem;
}



/*  This  is  footer TAG             ============================================================== */
footer{
    background: rgba(255, 255, 255, 0.1);
}


/*  This  is  footer class============================================================== */
.footer{
    /* background: rgba(255, 255, 255, 0.1); */
    background: none;
    display: flex;
    margin-top: 4rem;
    justify-content: space-around;
    padding: 5rem 12rem;
    
}
.footer-1{
    background: none;
    width: 50%;
}
.footer-1-title{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    margin: 0;
    background: none;
}
.footer-1-des{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    background: none;
    width: 70%;
}


.footer-2{
    background: none;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-2-1,.footer-2-2 {
    background: none;
}
.footer-2-title{
    background: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;

}
.footer-2-ul{
    background: none;
    color: white;
    list-style: none;
    font-family: inter;
    opacity: 0.5;
    padding: 0;
}
.footer-2-ul>li{
    background: none;
    
}
hr{
    /* border: 2px solid rgba(255, 255, 255, 0.1); */
    color: (255, 255, 255, 0.1);
    width: 80%;
    align-items: center;
    opacity: 0.5;

}
.reserved{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
    background: none;
    margin: 0;
    padding-bottom: 2rem;
}



  
@media screen and (max-width :576px){
    .navbar{
        align-items: center;
        gap: 2rem;
    }
    .logo{ 
        margin-left: 1rem;
    }
    ul{
        gap: 1rem;
    }
    .nav-link{
        font-size: 0.7rem;
    }

    /* +++++++++++ */
    .banner{
        flex-direction: column;
    }
    .banner-content {
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .banner-title{
        font-size: 2.5rem;
    }
    .banner-des{
        font-size: 1rem;
    }
    .button{
        justify-content: center;
    }
    .banner-image{
        margin:0;
        display: flex;
        justify-content: center;
    }
    .span2{
        font-size: 4rem;
    }

    .sp-card-1{
        left: 19rem;
        bottom: 14rem;
    }
    .sp-card-2{
        left: 4.5rem;
        bottom: 2.5rem;
    }
    /* ++++++++++++++++++++++++++++++ */

    .content-1-des{
        margin: 0;
    }
    .content-2 {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 1rem 0rem;
    }

    /* ============================================== */

    .container-2 {
        margin: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-2-1{
        padding: 0;
        margin: 2rem;
    }
    .container-2-1-title{
        font-size: 2rem;
    }
    .btn3{
        width: 100%;
    }
    .container-2-2{
        padding: 0;
        margin-bottom: 2rem;
    }



    .container-3-1-title {
        font-size: 2rem;
        margin-top: 3rem;
    }
    .container-3-1-des{
        font-size: .8rem;
        margin: 0rem 3rem;
    
    }
    .container-3-2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        border-radius: 18px;
        background: rgba(255, 255, 255, 0.1);
        width: 60%;
        height: auto;
        justify-content: center;
        padding: 2.5rem 1.5rem 0rem 2rem;
    }
    .card-pic-title{
        display: inline-block;
    }
    .card-pic-des{
        display: block;
    }



    /*  This  is  footer TAG             ============================================================== */
footer{
    margin: 10%;
}


/*  This  is  footer CLASS ============================================================== */
.footer{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.footer-1{
    width: 100%;
    text-align: center;
}
.footer-1-des{ 
    width: 100%;
}
.footer-2{
    width: 100%;
    flex-direction: column;
}



}


@media screen and (min-width :577px) and (max-width :992px){
    .navbar{
        align-items: center;
        gap: 10%;
    }
    .logo{ 
        margin-left: 1rem;
    }
    ul{
        gap: 1rem;
    }

    /* ===================== */

    .banner{
        flex-direction: column;
    }
    .banner-content {
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .banner-title{
        font-size: 4.5rem;
    }
    .banner-des{
        font-size: 1rem;
    }
    .button{
        justify-content: center;
    }
    .banner-image{
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .sp-card-1{
        left: 32rem;
        bottom: 8rem;
    }
    .sp-card-2 {
        left: 17rem;
        top: 54rem;
    }

    /* ++++++++++++++++++++++++++++ */

    .content-1-des{
        margin: 0;
    }
    .content-2 {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem 0rem;
    }
    /* ================================== */

    .container-2 {
        margin: 0 2rem;
        display: flex;
        align-items: center;
    }
    .container-2-1{
        padding: 0;
        margin: 2rem;
    }
    .container-2-1-title{
        font-size: 2rem;
    }
    .container-2-1-des {
        width: 15rem;
    }
    .btn3{
        width: 100%;
    }
    .container-2-2{
        padding: 0;
        margin-right: 2rem;
    }

    .container-2-2-img{
        height: 15rem;
        width: 12rem;
        zoom: 0;
    }



    .container-3-1-title {
        font-size: 2rem;
        margin-top: 3rem;
    }
    .container-3-1-des{
        font-size: .8rem;
        margin: 0rem 3rem;
    
    }
    .container-3-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 18px;
        background: rgba(255, 255, 255, 0.1);
        width: auto;
        height: auto;
        justify-content: center;
        padding: 3rem 1.5rem 0rem 2.5rem;
        margin: 0rem 1.5rem;
        gap: 1rem;
    }
    .card-pic-title{
        display: inline-block;
    }
    .card-pic-des{
        display: block;
    }




    
    /*  This  is  footer TAG             ============================================================== */
footer{
    margin: 10%;
}


/*  This  is  footer CLASS ============================================================== */
.footer{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.footer-1{
    width: 100%;
}
.footer-1-des{ 
    width: 100%;
}
.footer-2{
    width: 100%;
}


}


@media screen and (min-width :993px) and (max-width :1583px){
    .banner-content {
        margin-top: 7rem;
        margin-left: 1rem;
    }
    .banner-image {
        margin-right: 1rem;
    }

    .sp-card-1{
           left: 80%;
            bottom: 43%;
    }
    .sp-card-2 {
        left: 60%;
        bottom: 25%;
    }

    .content-1-des{
        margin: 0;
    }
    .content-2 {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem 0rem;
    }


    .container-2-1-des {
        width: 15rem;
    }
    .btn3{
        width: 100%;
    }
    .container-2-2{
        margin-right: 2rem;
    }
    .container-2-2-img{
        height: 15rem;
        width: 12rem;
        zoom: 0;
    }



    .container-3-1-title {
        font-size: 2rem;
        margin-top: 3rem;
    }
    .container-3-1-des{
        font-size: .8rem;
        margin: 0rem 3rem;
    
    }
    .container-3-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 18px;
        background: rgba(255, 255, 255, 0.1);
        width: auto;
        height: auto;
        justify-content: center;
        padding: 3rem 1.5rem 0rem 2.5rem;
        margin: 0rem 1.5rem;
        gap: 1rem;
    }

}